@import "../../styles/vars";
@import "../../styles/mixins";

.wrapper {
    margin-top: 2.5em;
    flex: 1 1 0;
    width: 100%;
    padding: 1.875em 3.75em 3.75em 3.75em;
    background-color: #fff;
    border-radius: 1em 1em 0 0;
    @include media($max: "xl") {
        padding: 1.875em 2.5em 3.75em 2.5em;
    }
    @include media($max: "lg") {
        padding: 1.875em 1.63em 3.75em 1.63em;
    }
    @include media($max: "sm") {
        border-radius: 0;
    }
    @include media($max: "xs") {
        padding: 1.875em 1em 3.75em 1em;
    }
}

.title {
    margin: 0 auto;
    max-width: 600px;
    color: $black;
    font-size: 2em;
    line-height: 1.3em;
    font-family: $title-font;
    text-align: center;
}

.titleSkeleton {
    margin: 0 auto;
    max-width: 9em;
    width: 100%;
    height: 2em;
}