@import "../../styles/vars";
@import "../../styles/mixins";

.container {
	bottom: 30px;
	right: 30px;
    left: auto;
	padding: 0;
	min-width: 16em;
	@include media($max: "md") {
        height: 4.3em;
        bottom: auto;
        top: 5px;
        right: 5px;
        left: 5px;
        width: calc(100% - 10px);
        min-width: 0;
        font-size: 0.95em;
    }
}

.toast {
	margin-bottom: 0;
	padding: 0.6em;
	border-radius: 0.6em;
	box-shadow: $shadow;
	@include media($max: "md") {
        padding: 0.6em;
    }
	&:not(:last-child) {
		margin-bottom: 0.93em;
        @include media($max: "md") {
            margin-bottom: 0.3em;
        }
	}
}

.body {
	font-family: $text-font;
	color: $black;
	padding: 0 0.6em;
}