@import "../../styles/vars";

.ul {
	margin-top: 1.2em;
	counter-reset: my-counter;
}

.li {
	line-height: 1.5em;
	counter-increment: my-counter;
	padding: 0.45em 0 0.45em 2em;
	position: relative;
	&:not(:first-child) {
		border-top: 1px solid #e6e6e6;	
	}
	&:before {
		content: counter(my-counter);
		position: absolute;
		left: 0;
		font-size: 0.85em;
		line-height: 0;
		width: 1.6em;
		height: 1.6em;
		color: #fff;
		background-color: $light-green;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}