@import "../../styles/vars";
@import "../../styles/mixins";

.card {
	max-width: 12.5em;
	width: 100%;
	min-height: 16em;
	justify-self: center;
	border-radius: 1em;
	box-shadow: $shadow;
	overflow: hidden;
	user-select: none;
}

.image {
	height: 60%;
	width: 100%;
	object-fit: cover;
	transition: 0.3s;
	&:hover {
		opacity: 0.9;
	}
	&:active {
		opacity: 0.7;
	}
}

.info {
	font-size: 0.93em;
	padding: 1.5em 1em;
}

.name {
	font-size: 1em;
	line-height: 1.3em;
	transition: opacity 0.2s;
	overflow-y: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	@include focus-shadow;
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.6;
	}
}
