@import "../../styles/vars";
@import "../../styles/mixins";

.form {
	margin-top: 2.2em;
	width: 100%;
	font-size: 1.125em;
	border-radius: 1em;
	display: flex;
	background-color: #fff;
}

.input {
	width: 100%;
	padding: 0.5em 0.4em 0.5em 1em;
	border-radius: 1em 0 0 1em;
	@include focus-shadow;
	&::placeholder {
		color: $gray;
	}
}

.clearButton {
	padding: 0 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: auto;
	@include focus-shadow;
	span {
		font-size: 1em;
		color: rgba($black, 0.4);
		transition: color 0.3s;
	}
	&:hover span {
		color: rgba($black, 0.6);
	}
	&:active span {
		color: rgba($black, 0.8);
	}
}

.button {
	padding-left: calc(0.1em + 1px);
	padding-right: 0.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 1em 1em 0;
	position: relative;
	@include focus-shadow;
	span {
		font-size: 1.3em;
		color: rgba($black, 0.4);
		transition: color 0.3s;
	}
	&:hover span {
		color: rgba($black, 0.6);
	}
	&:active span {
		color: rgba($black, 0.8);
	}
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		height: 43.1%;
		width: 1px;
		transform: translateY(-50%);
		background-color: rgba($black, 0.4);
	}
}
