@import "./styles/vars";
@import "./styles/mixins";

.wrapper {
    max-width: 1320px;
    width: 100%;
    padding: 0 3.75em;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include media($max: "xl") {
        padding: 0 1.875em;
    }
    @include media($max: "lg") {
        font-size: 0.95em;
        padding: 0 0.6em;
    }
    @include media($max: "sm") {
        padding: 0;
    }
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}